{{/* Retrieve parameters from shortcode context */}}
{{- $title := .Get "title" | default .Site.Data.homepage.showcase.title -}}
{{- $subtitle := .Get "subtitle" | default .Site.Data.homepage.showcase.subtitle -}}
{{- $description := .Get "description" | default .Site.Data.homepage.showcase.description | safeHTML -}}
{{- $imgSrc := .Get "imgSrc" | default .Site.Data.homepage.showcase.image.src -}}
{{- $imgScale := .Get "imgScale" | default .Site.Data.homepage.showcase.image.scale | default 0.5 -}}
{{- $imgAlt := .Get "imgAlt" | default $title -}}
{{- $buttonText := .Get "buttonText" | default .Site.Data.homepage.showcase.button.text -}}
{{- $buttonURL := .Get "buttonURL" | default .Site.Data.homepage.showcase.button.URL | default "#contact" -}}

{{/* Retrieve inner content (for platform links) */}}
{{- $inner := .Scratch.Get "Inner" -}}

{{/* Process the image from assets */}}
{{- $image := "" -}}
{{- if $imgSrc -}}
  {{- $imageResource := resources.Get $imgSrc -}}
  {{- if $imageResource -}}
    {{/* You could add image processing here if needed, e.g., resizing */}}
    {{/* $image = $imageResource.Resize "800x" */}}
    {{ $image = $imageResource }}
  {{- else -}}
    {{ warnf "Showcase image resource not found: %s" $imgSrc }}
  {{- end -}}
{{- end -}}

<section class="rad-showcase rad-showcase--index section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 align-self-center content">
                <h1 class="rad-fade-down">{{ $title }}</h1>
                {{ with $subtitle }}<p class="lead rad-fade-down rad-delay-sm">{{ . | safeHTML }}</p>{{ end }}
                <p class="description rad-fade-down rad-delay-md">{{ $description }}</p>
                
                <div class="rad-fade-down rad-delay-lg hero-footer">
                  {{ with $inner }}
                    <div class="platform-links">{{ . }}</div>
                  {{ end }}
                  {{ if $buttonText }}
                    <a href="{{ $buttonURL | absURL }}" class="btn btn-primary">
                        {{ $buttonText }}
                    </a>
                  {{ end }}
                </div>
            </div>

            {{ if $image }}
            <div class="col-12 col-md-6 img-container">
                <img class="img-fluid rad-fade-down rad-delay-md showcase-image" 
                     src="{{ $image.RelPermalink }}" 
                     alt="{{ $imgAlt }}" 
                     style="transform: scale({{ $imgScale }});"
                     loading="eager">
            </div>
            {{ end }}
        </div>
    </div>
</section> 